.top {
  text-align: center;
  height: 100px;
}
.bot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 650px;
}
.left {
  display: block;
  text-align: center;
  justify-content: center;
  color: #3f6bff;
  height: 500px;
  width: 700px;
  border-style: dashed;
  border-color: #3f6bff;
  border-radius: 40px;
  border-width: 3px;
  margin-left: 130px;
}
.left h1 {
  padding-top: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}
.left img {
  width: 300px;
  height: 250px;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-sub {
  display: block;
  align-items: center;
}
.check {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.down {
  height: 100px;
  background-color: #e0e7ff;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}
.right p {
  padding-right: 50px;
}

.keylen {
  display: flex;
  align-items: center;
}
.range {
  display: flex;
  align-items: center;
}
.range input {
  padding-left: 40px;
  margin-left: 45px;
  margin-right: 40px;
}
.button {
  display: flex;
  align-items: center;

  margin-top: 40px;
}
.button h4 {
  margin-right: 20px;
  margin-left: 20px;
}
.btn {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  background: #3f6bff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: auto;
}

.btn:hover {
  background: #4168e8;
  text-decoration: none;
  cursor: pointer;
}
.btn2 {
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  background: #3f6bff;
  padding: 10px 20px 10px 20px;
  width: 30px;
}
.btn2:hover {
  background: #4168e8;
  text-decoration: none;
  cursor: pointer;
}
.inp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px rgb(218, 218, 218) solid;
  border-radius: 30px;
  font-family: Arial;
  color: #979797;
  font-size: 13px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  height: 25px;
  width: 470px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  .left {
    display: none;
  }
  .inp {
    width: 320px;
  }
  .bot {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-sub {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  .check {
    display: block;
  }
  .down {
    bottom: 0%;
  }
  .keylen {
    display: block;
  }
}
.left-img {
  display: none;
}
.left-img-vis {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.left-img img {
  border-radius: 50px;
  height: 400px;
  width: auto;
}
.left-sub-hid {
  display: none;
}
